:root {

    --bg-primary: #ffffff;
    --bg-secondary: #f8fafc;
    --bg-secondary-card: #ffffff;

    --text-main: #0f172a;
    --text-muted: #64748b;

    --border-color: #e2e8f0;
    --accent-color: #2563eb;

    --header-bg: rgba(255, 255, 255, 0.8);
    --bg-header-mobile: #ffffff;

    --hover-nav-link: rgba(37, 99, 235, 0.08);
    --border-btn-enn: rgba(0, 0, 0, 0.05);

    --max-width-principal: 1440px;
    --hover-btn-color: #1e40af;
    --btn-color: #3b82f6;
}

[data-theme='dark'] {

    --bg-primary: #050714;
    --bg-secondary: #0f172a;
    --bg-secondary-card: #1e293b;
    --text-main: #f1f5f9;
    --text-muted: #94a3b8;
    --border-color: #334155;
    --accent-color: #0565e4;
    --header-bg: rgba(2, 6, 23, 0.8);
    --bg-header-mobile: #0f172a;
    --hover-nav-link: rgba(40, 81, 99, 0.253);
    --border-btn-enn: rgba(255, 255, 255, 0.03);
    --hover-btn-color: #0747a6;
    --btn-color: #2563eb;
}

/* Reset e Estilos Globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background-color 0.3s ease, color 0.3s ease;
    /* Suaviza a troca de tema */
}

html {
    scroll-behavior: smooth;
}

section[id] {
    scroll-margin-top: 100px;
    /* Ajuste esse valor para a altura do seu Header */
}

body {
    background: var(--bg-primary);
    color: var(--text-main);
    font-family: 'Inter', sans-serif;
}

#precos {
    min-height: 80vh;
}